# Inserts a blank line between shell prompts
add_newline = false
command_timeout = 1000

# Make prompt a single line instead of two lines
[line_break]
disabled = true

# Replace the "❯" symbol in the prompt with "➜"
[character]							# The name of the module we are configuring is "character"
success_symbol = "[→](green)"		# The "success_symbol" segment is being set to "➜" with the color "bold green"
error_symbol = "[✗](red)"			# Any non-zero return is being set to "✗" with the color "bold red"
vicmd_symbol = "[❯](blue)"			# Change the arrow "→" to a blue chevron "❯" when in vi mode

# Disable the package module, hiding it from the prompt completely
# [package]
# disabled = true

[directory]
truncation_length = 1
truncation_symbol = ".../"
truncate_to_repo = true
style = "bold blue"
format = "[$path]($style) [$read_only]($read_only_style)"
disabled = false

[cmd_duration]
min_time = 5000

# for more information, visit: techviewleo.com/install-starship-shell-prompt-bash-zsh-fish/

[aws]
disabled = true

[cobol]
disabled = true

[conda]
disabled = true

[crystal]
disabled = true

[dart]
disabled = true

[deno]
disabled = true

[docker_context]
disabled = true

[dotnet]
disabled = true

[elixir]
disabled = true

[elm]
disabled = true

[erlang]
disabled = true

[gcloud]
disabled = true

[golang]
disabled = true

[helm]
disabled = true

[java]
disabled = true

[julia]
disabled = true

[kotlin]
disabled = true

[kubernetes]
disabled = true

[lua]
disabled = true

[nim]
disabled = true

[nix_shell]
disabled = true

[nodejs]
disabled = true

[ocaml]
disabled = true

[openstack]
disabled = true

[package]
disabled = true

[perl]
disabled = true

[php]
disabled = true

[purescript]
disabled = true

[python]
disabled = true

[red]
disabled = true

[rlang]
disabled = true

[ruby]
disabled = true

[rust]
disabled = true

[scala]
disabled = true

[singularity]
disabled = true

[swift]
disabled = true

[terraform]
disabled = true

[vagrant]
disabled = true

[vcsh]
disabled = true

[vlang]
disabled = true

[zig]
disabled = true
